.container {
  position: absolute;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 400px;
  background: rgb(165, 214, 236);
  border: 2px solid black;
  width: 500px;
  height: 400px;
}

#first {
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgb(165, 231, 111);
}

#second {
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgb(31, 58, 133);
}
